## 30902_김준원_0327_4

In [ ]:
print('학생 그룹')

In [6]:
# 학생 5명의 시험 점수를 입력받아 합계와 평균을 출력하기
#

print('학생 그룹 점수의 합계와 평균을 구합니다.')
a = int(input('1번 학생의 점수를 입력하세요.: '))
b = int(input('2번 학생의 점수를 입력하세요.: '))
c = int(input('3번 학생의 점수를 입력하세요.: '))
d = int(input('4번 학생의 점수를 입력하세요.: '))
e = int(input('5번 학생의 점수를 입력하세요.: '))

total = 0
total += a
total += b
total += c
total += d
total += e
print(f'합계는 {total}점입니다.')
print(f'평균은 {total / 5}점입니다. '2
      )

학생 그룹 점수의 합계와 평균을 구합니다.
1번 학생의 점수를 입력하세요.: 1
2번 학생의 점수를 입력하세요.: 4
3번 학생의 점수를 입력하세요.: 3
4번 학생의 점수를 입력하세요.: 5
5번 학생의 점수를 입력하세요.: 1
합계는 14점입니다.
평균은 2.8점입니다.

- 배열 : 묶음 단위로 값을 저장하는 자료구조
    - 원소 : 배열에 저장된 각 객체
    - 각 원소는 0,1,------- 순서대로 인덱스(주소)를
      부여받음
    - 원소의 자료형은 int형 float형 어떤것도 상관없음
    - 서로 다른 자료형을 같이 저장할 수 있음
    - 배열 원소 자체를 배열에 저장할 수 있음

In [8]:
# list 선언
list01 = [] #반리스트
a = [1,2,3,4,5]
b = ['A','B','C',]

print(a)
print(b)

[1, 2, 3, 4, 5]
['A', 'B', 'C']

- 튜플
    - 원소에 순서를 매겨 결합한 것으로 원소를
      변경할 수 없는 자료형
    - ()만 사용하면 빈 튜플 생성

In [9]:
tuple01 = ()
tuple02 = 1,2,3
tuple03 = 'A','B','C'

print(tuple01)
print(tuple02)
print(tuple03)

()
(1, 2, 3)
('A', 'B', 'C')

In [10]:
a = tuple(range(3,100))
print(a)

(3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99)